:root {
    --text-color: rgb(226, 226, 226);
}
body {
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}


dialog {
    width: 310px;
    height: 370px;
    border-radius: 0.5rem;
    border: 1px solid grey;
    overflow: hidden;

}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #book-dialog {

 }

form {
    padding: 20px;
    height: inherit;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
}

.form-body {
    grid-row: 1/2;
    display: grid;
    justify-items: center;
    gap: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    grid-row: 2/3;
}

input {
    height: 2rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(226, 226, 226);
}

button {
    background-color: aliceblue;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid grey;
}

button:hover {
    background-color: rgb(208, 225, 239);
}

h4 {
    font-size: 1.5rem;
}
